.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	width: 200px;
	filter: blur(0);
	transform: translateX(0);
}


#symbol-2 {
	transition-delay: 200ms;
}

#symbol-4 {
	transition-delay: 600ms;
}

#symbol-3 {
	transition-delay: 400ms;
}

#symbol-5 {
	transition-delay: 800ms;
}

#symbol-6 {
	transition-delay: 1000ms;
}

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}

}
